[run]
command_line = -m pytest
branch = True

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:

include = 
    api.py
    jph/*

omit =
    *_test.py
    *model.py

show_missing = True

[html]
directory = docs