[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
returns = "*"

[dev-packages]
black = "==23.10.1"
coverage = "*"
flake8 = "*"
pytest = "*"
requests-mock = "*"

[requires]
python_version = "3.8"
